.paggination {
	display: flex;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 20px;
	&__btn {
		padding: 5px 10px;
		border-radius: 100%;
		border: 1px solid #ccc;
	}
	p {
		margin: 0;
	}
}
